= info.name
%br
= info.country
%br
= info.address
%br
= info.phone_number
%br
Request correction / Reason for deny:
%br
= form_for info, url: add_verification_status_path(id: info.id), remote: true do |f|

  .form-group
    = f.text_field :status, required: true, class: 'form-control'

  .modal-buttons
    = f.submit "Send reason for deny", class: "btn btn-primary btn-wd btn-lg btn-round", onclick: "hideReviewed(#{info.user.id})"
%br
- if !info.user.enabled
  Approve and enable account if valid:
  = button_to "Approve", enable_company_path(id: info.id), remote: true, onclick: "hideReviewed(#{info.user.id})", method: :patch


:javascript
  function hideReviewed(companyId) {
    var selector = ".company-admin#" + companyId;
    $(selector).hide();
    $(".right").slideUp();
  }