- if !@locations.empty?
  = form_tag feed_path, method: 'get', remote: true, id: 'filter-form' do
    .form-group
      = label_tag 'filter_city', 'Filter by City:'
      = select_tag 'filter_city', options_for_select(@locations.pluck(:city).uniq, params[:filter_city]), prompt: 'All Cities', class: 'form-control'
    = submit_tag 'Filter', class: 'btn btn-primary'


- @jobs.each do |job|
  %div.job-container
    %ul
      %li.job-button= link_to job.title, view_job_path(job), remote: true, class: "job-link"
      - if user_signed_in?
        %p Matching by: #{matching_percentage(job)}%
    %div.job-info{ style: 'display: none;' }
      

:javascript
  $(document).ready(function() {
    $('.job-link').click(function(event) {
      event.preventDefault(); // Prevent the default link behavior
      var container = $(this).closest('.job-container');
      var jobInfo = container.find('.job-info');

      // Close all other job information
      $('.job-info').not(jobInfo).slideUp();

      // Toggle the visibility of the clicked job information
      jobInfo.slideToggle();
    });
  });
