- company_name = CompanyInformation.find_by(user_id: job.user_id).name
- applied = false
- @application = nil
- if user_signed_in? && is_user?(current_user.id)
  - current_user.cvs.each do |cv|
    - if Application.find_by(cv_id: cv.id, job_id: job.id).present?
      - @application = Application.find_by(cv_id: cv.id, job_id: job.id)
      - applied = true
      - break

%h2
  by: 
  = link_to company_name, job_index_path(user_id: job.user_id), class: 'job-link'

%p.job-info
  Description:
%p{ style: "font-family:'GothamPro'; color:#000; font-size:1.25rem" }
  = job.description

%p.job-info
  Skills required:
  - if job.skills.empty?
    No skills required
  - job.skills.each do |skill|
    %li{ style: "font-family:'GothamPro'; color:#000; font-size:1.25rem" }
      = skill.title

%p.job-info
  - if !job.locations.empty?
    Location:
    - job.locations.each do |loc|
      %li{ style: "font-family:'GothamPro'; color:#000; font-size:1.25rem" }
        = loc.city

- if user_signed_in? && is_user?(current_user.id)
  - if applied == true
    = link_to "Cancel Application", cancel_application_profile_path(@application.id), method: :delete, remote: true, class: "edit-button", style: "width: fit-content; padding:0 10px;" 
  - else
    %button.apply-button{ style: "width: fit-content; padding: 0 15px;", onclick: "toggleChooseCV(this);" } Apply
    %div.choose-cv{style: 'display: none;'}
      - if current_user.cvs.any?
        Choose CV
        - current_user.cvs.each do |cv|
          = button_to cv.title, apply_to_job_profile_path(job_id: job.id, cv_id: cv.id), class: 'cv-select', remote: true
      - else
        = link_to "Create a CV first", profile_index_path
        
- elsif !user_signed_in?
  = button_to "Register to Apply", new_user_session_path, class: "edit-button", style: "width: fit-content; padding: 0 15px;" 
  


:javascript
  function toggleChooseCV(button) {
      $(button).next('.choose-cv').slideToggle();
  }

  



