%div#edit-education
  - if @cv.educations.any?
    - @cv.educations.each_with_index do |education, index|
      .form-class 
        = button_to "X", delete_education_cv_path(cv_id: @cv.id, id: education.id), method: :delete, class: "delete", remote: true, onclick: "hideFormClass(this)"
        = form_for education, url: update_education_cv_path(cv_id: @cv.id, id: education.id), remote: true do |f|
          .form-group
            = f.label :institution, "Institution"
            = f.text_field :institution, required: true, class: 'form-control', value: education.institution

          .form-group
            = f.label :specialization, "Specialization"
            = f.text_field :specialization, required: true, class: 'form-control', value: education.specialization

          .form-group
            = f.label :degreen, "Degree"
            = f.text_field :degree, required: true, class: 'form-control', value: education.degree

          .form-group
            = f.label :started_at, "Started at"
            = f.date_field :started_at, required: true, class: 'form-control', value: education.started_at

          .form-group
            = f.label :finished_at, "Finished at"
            = f.date_field :finished_at, class: 'form-control', value: education.finished_at, disabled: education.ongoing

          .form-group
            = f.label :ongoing, "Ongoing"
            = f.check_box :ongoing, class: 'form-control', onchange: "disableFinishDate(this)", checked: education.ongoing

          .modal-buttons
            = f.submit "Save", class: "btn btn-primary btn-wd btn-lg btn-round", onclick: "handleFormSubmission(this.form)"

  = javascript_include_tag 'cv'

