%div#edit-experience
  - if @cv.experiences.any?
    - @cv.experiences.each_with_index do |experience, index|
      .form-class 
        = button_to "X", delete_experience_cv_path(cv_id: @cv.id, id: experience.id), method: :delete, class: "delete", remote: true, onclick: "hideFormClass(this)"
        = form_for experience, url: update_experience_cv_path(cv_id: @cv.id, id: experience.id), remote: true do |f|
          .form-group
            = f.label :title, "Title"
            = f.text_field :title, required: true, class: 'form-control', value: experience.title

          .form-group
            = f.label :employer, "Employer"
            = f.text_field :employer, required: true, class: 'form-control', value: experience.employer

          .form-group
            = f.label :description, "Description"
            = f.text_field :description, required: true, class: 'form-control', value: experience.description

          .form-group
            = f.label :started_at, "Started at"
            = f.date_field :started_at, required: true, class: 'form-control', value: experience.started_at

          .form-group
            = f.label :finished_at, "Finished at"
            = f.date_field :finished_at, class: 'form-control', name: "experience[finished_at]", value: experience.finished_at, disabled: experience.ongoing

          .form-group
            = f.label :ongoing, "Ongoing"
            = f.check_box :ongoing, class: 'form-control', onchange: "disableFinishDate(this)", checked: experience.ongoing

          .modal-buttons
            = f.submit "Save", class: "btn btn-primary btn-wd btn-lg btn-round", onclick: "handleFormSubmission(this.form);"

= javascript_include_tag 'cv'

