%h1
  Configure your CV
= render 'edit_education_form'
= render 'education_form'
= render 'edit_experience_form'
= render 'experience_form'
= render 'skills_form'

= javascript_include_tag 'cv'
:javascript
  document.addEventListener('DOMContentLoaded', countAndDisable);



