!!!
%html
  %head
    %title Testing1
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"}
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css", rel: "stylesheet"}
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    - unless devise_controller?
      = render "layouts/menu"
    - flash.each do |key, value|  #flash-alert, flash-success, place below.flash in whatever div/container
      .flash{class: "flash-#{key}"} 
        = value
    = yield
