!!!
%html
  %head
    %title Jobs For Students
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{charset:"UTF-8"}
    = csrf_meta_tags
    = csp_meta_tag
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"}
    = javascript_importmap_tags
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
  %body
    - unless devise_controller?
      %div#flash-messages
      = render "layouts/menu"
    = yield
